# Node.js
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# Dependency lock files
yarn.lock
package-lock.json

# Compiled output
*.min.js
*.min.css

# Testing artifacts
coverage/

# Miscellaneous
.DS_Store
Thumbs.db